<?xml version='1.0' encoding='utf-8'?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
<soap:Body>
    <GetDeviceSettingsResponse xmlns="http://purenetworks.com/HNAP1/">
      <GetDeviceSettingsResult>OK</GetDeviceSettingsResult>
      <Type>GatewayWithWiFi</Type>
	  	<DeviceModeAlpha></DeviceModeAlpha>
      <DeviceName>dlinkrouter</DeviceName><VendorName>D-Link</VendorName>
      <ModelDescription>D-Link Router</ModelDescription>
      <ModelName>DIR-895L</ModelName>
      <FirmwareVersion>1.00</FirmwareVersion>
      <FirmwareRegion></FirmwareRegion>
      <HardwareVersion>A1</HardwareVersion>
      <PresentationURL>http://dlinkrouter.local/</PresentationURL>
      <CAPTCHA>false</CAPTCHA>
      <SharePortStatus>true</SharePortStatus>
      <LatestFirmwareVersion></LatestFirmwareVersion>
      <SOAPActions>
	        <string>http://purenetworks.com/HNAP1/GetDeviceSettings</string>
	        <string>http://purenetworks.com/HNAP1/SetDeviceSettings</string>
	        <string>http://purenetworks.com/HNAP1/GetRouterLanSettings</string>
	        <string>http://purenetworks.com/HNAP1/SetRouterLanSettings</string>
	        <string>http://purenetworks.com/HNAP1/GetMACFilters</string>
	        <string>http://purenetworks.com/HNAP1/SetMACFilters</string>
	        <string>http://purenetworks.com/HNAP1/GetMACFilters2</string>
	        <string>http://purenetworks.com/HNAP1/SetMACFilters2</string>
	        <string>http://purenetworks.com/HNAP1/GetWanSettings</string>
	        <string>http://purenetworks.com/HNAP1/SetWanSettings</string>
	        <string>http://purenetworks.com/HNAP1/GetWLanSettings24</string>
	        <string>http://purenetworks.com/HNAP1/SetWLanSettings24</string>
	        <string>http://purenetworks.com/HNAP1/GetWLanSecurity</string>
	        <string>http://purenetworks.com/HNAP1/SetWLanSecurity</string>
	        <string>http://purenetworks.com/HNAP1/GetForwardedPorts</string>
	        <string>http://purenetworks.com/HNAP1/SetForwardedPorts</string>
	        <string>http://purenetworks.com/HNAP1/GetPortMappings</string>
	        <string>http://purenetworks.com/HNAP1/AddPortMapping</string>
	        <string>http://purenetworks.com/HNAP1/DeletePortMapping</string>
	        <string>http://purenetworks.com/HNAP1/Reboot</string>
	        <string>http://purenetworks.com/HNAP1/GetConnectedDevices</string>
	        <string>http://purenetworks.com/HNAP1/RenewWanConnection</string>
	        <string>http://purenetworks.com/HNAP1/GetNetworkStats</string>
	        <string>http://purenetworks.com/HNAP1/IsDeviceReady</string>
					<string>http://purenetworks.com/HNAP1/SetAccessPointMode</string>
					<string>http://purenetworks.com/HNAP1/GetDeviceSettings2</string>
					<string>http://purenetworks.com/HNAP1/SetDeviceSettings2</string>
					<string>http://purenetworks.com/HNAP1/GetWLanRadios</string>
					<string>http://purenetworks.com/HNAP1/GetWLanRadioSettings</string>
					<string>http://purenetworks.com/HNAP1/SetWLanRadioSettings</string>
					<string>http://purenetworks.com/HNAP1/GetWLanRadioSecurity</string>
					<string>http://purenetworks.com/HNAP1/SetWLanRadioSecurity</string>
					<string>http://purenetworks.com/HNAP1/GetWanStatus</string>
					<string>http://purenetworks.com/HNAP1/GetClientStats</string>
					<string>http://purenetworks.com/HNAP1/GetRouterSettings</string>
					<string>http://purenetworks.com/HNAP1/SetRouterSettings</string>
					<string>http://purenetworks.com/HNAP1/GetIPv6Settings</string>
					<string>http://purenetworks.com/HNAP1/SetIPv6Settings</string>
					<string>http://purenetworks.com/HNAP1/GetOpenDNS</string>
					<string>http://purenetworks.com/HNAP1/GetFirmwareState</string>
					<string>http://purenetworks.com/HNAP1/SetWebFilterSettings</string>
					<string>http://purenetworks.com/HNAP1/GetWebFilterSettings</string>
					<string>http://purenetworks.com/HNAP1/SetDLNA</string>
					<string>http://purenetworks.com/HNAP1/GetDLNA</string>
      </SOAPActions>
      <SubDeviceURLs>
      </SubDeviceURLs>
      <Tasks>
      </Tasks>
    </GetDeviceSettingsResponse>
</soap:Body>
</soap:Envelope>
